.experience{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.experience-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}
.work-card{
    padding: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.work-logo{
    height: 80px;
}
.work-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
}
.work-dates{
    color: gray
}
.work-desc{
    text-align: left;
    display: --webkit-box;
    --webkit-line-clamp: 2;
    --webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

@media only screen and(max-width: 720px){
    .work-card{
        width:100%;
    }
}